 @import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet+Guides&family=Playwrite+DK+Loopet:wght@100..400&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Doto:wght@829&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 h1 {
     font-weight: 700;
     font-family: 'Segoe UI';
     font-size: 50px;
     text-align: center;
     animation: transform 0.3s ease-in running;
     transform: scale(1.3);
 }

 .h2 {
     font-family: 'Playwrite DK Loopet', cursive;
     font-size: 45px;
     font-weight: 400;
     text-align: center;
 }

 .nothing {
     background-color: yellow;
     text-align: center;
     height: 70px;
     /* width: 100%; */
     line-height: 70px;
     font-size: 50px;
     margin-top: 18px;
 }

 .anime {
     margin-top: 18px;
     text-align: center;
     height: 90px;
     background-color: tomato;
     font-size: 43px;
     font-family: "Doto";
     font-weight: 500;
     line-height: 90px;
 }

 .anime2 {
     font-family: 'Segoe UI';
     text-align: center;
     font-size: 50px;
     height: 90px;
     line-height: 90px;
     background-color: rgb(156, 158, 32);
 }

 img {
     margin: 52px 560px;
     height: 250px;
     animation: logoRotate 3s linear infinite running;
 }

 @keyframes logoRotate {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(180deg);
     }
 }