* {
            margin: 0;
            padding: 0;
        }

        .main {
            width: 100%;
            background-color: rgba(41, 39, 39, 0.301);
            border-radius: 40px;
        }

        .parent {
            height: 95vh;
            width: 100%;
            background-color: #dfdfdf;
            border-radius: 40px;
        }

        .child {
            height: 70vh;
            width: 100%;
            background-color: rgba(41, 39, 39, 0.301);
            border-radius: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 24px;
            font-weight: 600;
        }

        .text {
            height: 50px;
            width: 260px;
            font-size: 24px;
            text-align: center;
        }

        .btn {
            height: 40px;
            width: 120px;
            border-radius: 20px;
            font-size: 10px;
            line-height: 40px;
            color: rgba(245, 245, 220, 0.822);
            text-align: center;
            background-color: black;
        }

        .child>img {
            margin-bottom: -46px;
            height: 75px;
        }

        .scroller {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .scroller>.img {
            height: 80px;
            width: 80px;
            filter: grayscale(1);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-top: 40px;
        }


        .sibling {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            /* margin: 44px auto; */
            align-items: center;
        }

        .sibling .footer {
            display: flex;
            justify-content: space-around;
            font-size: 10px;
            padding: 45px 0;
        }

        .footer-text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 18%;
            height: 40%;
            margin: 0 auto
        }

        .line {
            margin: 0 auto;
            width: 950px;
            border-top: 1px solid rgba(0, 0, 0, 0.253);
            position: relative;
        }

        span {
            position: absolute;
            top: -15px;
            left: 410px;
            background-color: #dfdfdf;
            border-radius: 18px;
            padding: 10px 30px;
            font-size: 11px;
            font-weight: 800;
            transform: rotate(-10deg);
        }

        .sibling>.text1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 40px 0;
            font-size: 23px;
            width: 35%;
            text-align: center;
            font-weight: 700;
        }

        .footer-text .icon {
            height: 30px;
            width: 40px;
            margin-bottom: 15px;
            background-image: url(./profile.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .footer-text>h3 {
            margin-bottom: 6px;
            font-weight: 800;
        }